<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Detalle de receta</title>
  <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>

  <header class="main-header">
    <h1 class="logo">SaborLab</h1>
    <nav class="main-nav">
      <a href="../index.html">Inicio</a>
      <a href="../recetas.html">Ver recetas</a>
      <a href="../crear-receta.html">Crear receta</a>
    </nav>
  </header>
  <hr>

  <h2>Detalle de receta</h2>

  <div id="detalleReceta">
    Cargando detalles...
  </div>

  <script src="../js/receta-detalle.js"></script>
</body>
</html>